* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#wrapper {
	position: relative;
	background-color: #78b5ae;
	width: 400px;
	height: 600px;
	margin: auto;
	margin-top: 15vh;
	border-radius: 15px
}


#welcome-popup {
	position: absolute;
	background-color: #d0d0d0;
	width: 80%;
/*	height: 20%;*/
	height: auto;
	z-index: 2;
	top: 10%;
	left: 10%;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #1e6960;
	/*	display: none;*/
}

h2 {
/*	margin-top: 20px;*/
	margin-top: 5%;
/*	margin-bottom: 20px;*/
	margin-bottom: 5%;
	color: #4a4a4a;
}

#two-players-popup {
	position: absolute;
	background-color: #d0d0d0;
	min-width: 70%;
/*	height: 30%;*/
	height: auto;
	z-index: 2;
	top: 10%;
	left: 10%;
	border-radius: 10px;
	border: 3px solid #1e6960;
	text-align: center;
	line-height: 1.7;
	display: none;
}

#two-players-popup button {
/*	position: absolute;*/
	width: 30%;
	height: 30px;
	left: 35%;
	margin-bottom: 5%;;
	background-color: #78b5ae;
	font-size: 17px;
	border-radius: 7px;
	border: 1px solid #1e6960;
	color: #4a4a4a;
	font-weight: 600;
}

#two-players-popup button:hover {
	transform: scale(1.1);
}

.welcome-button {
	min-width: 30%;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 8%;
	background-color: #78b5ae;
	font-size: 17px;
	border-style: none;
	border-radius: 7px;
	border: 1px solid #1e6960;
	color: #4a4a4a;
	font-weight: 600;
}

.welcome-button:hover {
	transform: scale(1.1);
}

#end-game-popup,
#end-round-popup {
	position: absolute;
	background-color: #d0d0d0;
	width: 80%;
	height: 30%;
	height: auto;
	z-index: 2;
	top: 10%;
	left: 10%;
	border-radius: 10px;
	border: 3px solid #1e6960;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.5;
	color: #0f3934;
	display: none;
}

#end-round-popup p,
#end-game-popup p {
	margin-top: 5%;
	margin-bottom: 5%;
}

.code {
/*	position: absolute;*/
	width: 80%;
	margin: auto;
	margin-bottom: 5%;
/*	left: 10%;*/
/*	bottom: 35%;*/
}

#end-game-popup button,
#end-round-popup button {
/*	position: absolute;*/
	height: 30px;
	min-width: 30%;
	margin-bottom: 5%;
	background-color: #78b5ae;
	font-size: 17px;
	border-radius: 7px;
	border: 1px solid #1e6960;
	color: #4a4a4a;
	font-weight: 600;
}

#end-game-popup button:hover,
#end-round-popup button:hover {
	transform: scale(1.1);
}

.code div {
	margin: auto;
}

#board {
	background-color: #78b5ae;
	width: 370px;
	height: 570px;
	margin: auto;
	top: 15px;
	border: 4px solid #1e6960;
	border-radius: 15px;
	position: relative;
	display: grid;
	grid-template-columns: 15% auto 15% 15%;
}

.prompt {
	position: absolute;
	width: 70%;
	text-align: center;
	font-size: 2.5rem;
/*	font-weight: bolder;*/
	bottom: 10%;
	left: 10%;
	color: #ffd800;
	display: none;
}

.prompt span {
	font-size: 8rem;
	line-height: .5;
}

#numeration {
	display: grid;
	grid-template-rows: auto;
	font-size: 30px;
	text-align: center;
	align-content: space-around;
}

#play-area {
	display: grid;
	grid-template-rows: auto;
}

.pins-row {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	align-items: center;

}

.pin {
	width: 30px;
	height: 30px;
	background-color: #579089;
	border-radius: 50%;
	margin: auto;
	border: 2px solid black;
}

#punctation {
	display: grid;
	grid-template-rows: auto;
}


.round-punctation {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	align-items: center;
	border-bottom: 2px solid #1e6960;
}

.round-punctation:nth-child(10) {
	border: none;
}

.point {
	background-color: #1e6960;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: auto;
}

#color-pins {
	position: relative;
	display: grid;
	align-content: flex-end;
}

#two-players-score {
	position: absolute;
/*	top: 10px;*/
/*	left: 5px;*/
	line-height: 1.3;
	text-align: center;
	display: none;
	background-color: #d0d0d0;
	border-radius: 10px;
}

#two-players-score span {
	font-size: 1.4rem;
}

#color-pins button {
	margin: 20px 5px 10px;
	height: 30px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #194641;
	background-color: #6abdc4;
	border: 2px solid #1e6960;
	border-radius: 10px;
}

#color-pins button:hover {
	transform: scale(1.1);
}

.color-pin {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: 10px auto;
	border: 2px solid #1e6960;
}

.color-pin:hover {
	transform: scale(1.15);
}

.blue {
	background-color: #006cff;
}

.green {
	background-color: #0ebc0e;
}

.pink {
	background-color: #f25aff;
}

.yellow {
	background-color: #ffff2a;
}

.purple {
	background-color: #6922b1;
}

.orange {
	background-color: #ff7600;
}

.red {
	background-color: red;
}

.white {
	background-color: white;
}

#play-area .active {
	background-color: #7dcec3;
	border-radius: 30px;
	transition: all .5s;
}

.active .pin:hover {
	transform: scale(1.2)
}

.currentColor {
	transform: scale(1.4);
}

.currentColor:hover {
	transform: scale(1.4);
}


@media (max-width : 400px) and (orientation : portrait) {

	#wrapper {
		width: 100%;
		width: 100vw;
		height: 100vh;
		margin: 0;
		margin-top: 0;
		border-radius: 0px;
	}

	#board {
		width: 100%;
		width: 100vw;
		height: 95vh;
		margin: 0;
		top: 2.5vh;
		display: grid;
		grid-template-columns: auto 15% 15%;
	}

	#two-players-popup button {
		width: 50%;
		height: 35px;
		font-size: 19px;
	}

	#two-players-popup button:hover {
		transform: scale(1);
	}

	.welcome-button {
		min-width: 30%;
		height: 45px;
		font-weight: 600;
	}

	.welcome-button:hover {
		transform: scale(1);
	}

	#end-game-popup,
	#end-round-popup {
		width: 90%;
		min-height: 30%;
		left: 5%;
	}
	
	#end-game-popup .pin,
	#end-round-popup .pin,
	#two-players-popup .pin {
		width: 40px;
		height: 40px;
	}

	#end-game-popup button,
	#end-round-popup button {
		height: 45px;
		min-width: 40%;
		font-size: 20px;
	}

	#end-game-popup button,
	#end-round-popup button:hover {
		transform: scale(1);
	}

	#numeration {
		display: none;
	}

	.pin {
		width: 44px;
		height: 44px;
	}

	.point {
		width: 17px;
		height: 17px;
	}

	#color-pins button {
		margin: 0px 5px;
		height: 50px;
		width: 90%;
		font-size: 1.5rem;
	}

	#color-pins button:hover {
		transform: scale(1);
	}

	.color-pin {
		width: 38px;
		height: 38px;
	}

	.color-pin:hover {
		transform: scale(1);
	}

	.active .pin:hover {
		transform: scale(1)
	}

	.currentColor {
		transform: scale(1.3);
	}

	.currentColor:hover {
		transform: scale(1.3);
	}

}
